

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('img/ui-anim_basic_16x16.gif') right center no-repeat !important;
}
 
/* scroll results */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}
 
.ui-autocomplete li {
    font-size: 16px;
}
 
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}


.panel.mnj-search-panel {
    background: #fff;
}
.mnj-search-panel .panel-heading {position: relative; padding: 5px;}
.mnj-search-panel .panel-heading h3 {padding:0; top: 5px; position: absolute; line-height: 30px; right: 100px; left: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 0 10px;}

#mnj_search_rule_set {border-right: solid 1px #ddd; padding-right: 5px;}
.mnj_search_rule_list {list-style: none; margin: 0; padding: 0;}
.mnj_search_rule_list li {position: relative; padding: 5px; border-bottom: dashed 1px #ccc;}
.mnj_search_rule_list li:last-child {border: none;}
.mnj_search_rule_list li .title {display: block; margin-right: 40px; line-height: 30px; font-size: 12px;}
.mnj_search_rule_list li .btn {position: absolute; top: 8px; right: 10px;}
.mnj_search_rule_list li .input-group {margin-bottom: 2px;}
.mnj_search_rule_list li .input-group .input-group-addon:first-child {
    border: solid 1px #b0e2b0;
    background: #caf9ca;
    min-width: 80px;
    text-align: right;
    border-right: none;
}
.mnj_search_rule_list li .input-group:last-child {margin-bottom: 0px;}
#mnj_search_rules li.active {background: #b8d0ae;}
#mnj_search_rules .form-control {height: 30px; padding: 0 5px;}
#mnj_search_rules .mnj-search-custom-value1, 
#mnj_search_rules .mnj-search-custom-value2 {float: left;}
#mnj_search_rules li[type=custom] .form-control {border-radius: 0;}
#mnj_search_rules .col {padding: 0;}

.mnj_map_wrapper {}
.mnj_map_inner {}


.loading-overlay {
  /*
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('imgs/loading_ico.gif');
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  */

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imgs/ajax_loader-1.gif) center no-repeat #000;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border: solid 1px #000;
    border-radius: 5px;
    opacity: 0.9;
    background-size: 80%;
}



.property_map_info {min-width: 200px;}
.property_map_info .photo {
    margin: 0px 5px 0px 0px;
    /*border: solid 1px #aaa;
    padding: 3px;
    border-radius: 5px;
    background: #fff;*/
}
.property_map_info .photo img {width: 75px; border-radius: 2px;}
.property_map_info.no-photo .photo {display: none;}
.property_map_info.no-photo .info {padding-left: 0px;}
.property_map_info .info {padding: 0px 0px 0px 80px;}
.property_map_info .info p {
    /*padding: 5px 0 0 5px;
    border-top: dashed 1px #ddd;*/
    margin-bottom: 1em;
}
.property_map_info .info p:last-child {margin-bottom: 0;}
.property_map_info .info .tag {white-space: nowrap; background: #eee; padding: 5px 10px; border-radius: 5px; display: inline-block; margin: 2px;}

.property_map_info .info p:first-child {border-top: none;}

.mnj_detail_view_backdrop {
    position: fixed; 
    top: 0; 
    bottom: 0;
    left: 0;
    width: 100%; 
    background: #333;
    opacity: 0.8;
    z-index: 50;
}
.mnj_detail_view, .mnj_detail_header {    
    position: fixed;
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    top: 0;
}
.mnj_detail_header {z-index: 999999;}
/*.admin-bar .mnj_detail_view, 
.admin-bar .mnj_detail_header {
    top: 40px;
}*/

.mnj_detail_view {
    bottom: 0;
    overflow: auto;
    background: #fff;
    padding: 41px 20px 20px 20px;
    z-index: 100;
    font-size: 14px;
}

.mnj_detail_header {
    height: 40px;
    background: #eee;
    border-bottom: solid 1px #ccc;
}
.mnj_detail_header .header-wrapper {padding: 8px; overflow: hidden;}
.mnj_detail_view .photos-wrapper {position: relative; margin: 10px -20px 0px -20px; padding: 0 30px 10px 30px;}
.mnj_detail_view .photos-wrapper h4 {
    font-size: 16px;
    margin: 0;
    border-bottom: solid 2px;
    padding-bottom: 2px;
    color: #aaa;
}
.mnj_detail_view .photos {
    /*border-bottom: solid 1px;*/
}
.mnj_detail_view .photos-wrapper h4, .mnj_detail_view .photos {
    border-color: #eee;
}

.mnj_detail_view .photos-wrapper h4 label {
    margin: 0;
    font-size: 11px;
    background: #f0ad4e;
    border-radius: 100px;
    padding: 2px 10px;
    margin-left: 10px;
    color: #fff;
    font-weight: normal;
    float: right;
}

.mnj_detail_view .photos-wrapper .slick-prev:before, 
.mnj_detail_view .photos-wrapper .slick-next:before {
    color: #ff9600;
}
.mnj_detail_view .photos-wrapper .slick-prev:before {
    content: '<';
}
.mnj_detail_view .photos-wrapper .slick-next:before {
    content: '>';
}

.mnj_detail_view .main-infos {margin: 0 -20px; padding: 10px 30px 10px 30px; background: #eee;}
.mnj_detail_view .more-infos {padding: 10px;}

.mnj_detail_content h5 {
    font-size: 24px;
    padding-top: 10px;
}
.mnj_detail_content h5 .prp-price-per {font-size: 14px;}
.mnj_detail_content h6 {
    font-size: 18px;
    margin-top: 5px;
}
.mnj_detail_content h7 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
}

.mnj_detail_content .more-infos > .row {
    border-bottom: dashed 1px #ccc;
}
.mnj_detail_content .more-infos > .row.detail {
    
}

.mnj_detail_content .more-infos .row.detail label {
    
}

.mnj_detail_content .more-infos .row.detail p label {
    display: inline;
    margin-right: 10px;
    color: #999;
    font-weight: normal;
    font-size: 12px;
    font-weight: bold;
}


.mnj_detail_view .photos {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    /*-webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;

    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;*/

}

.mnj_detail_view .photos .item:not(.is_main) {}
.mnj_detail_view .photos .item a {
    display: block;
    /*width: 200px;*/
    height: 180px;
    max-height: 300px;
    /*border: solid 1px #ccc;*/
    background: url('imgs/cheque.png') #fff;
    margin: 1px;
}
.mnj_detail_view .photos .item a img {width: auto; height: 100%; margin: auto;}
.mnj_detail_view .photos .item.is_main a {
    /*width: 410px;*/
    height: 361px;
    max-height: 600px;
}
.mnj_detail_view .photos .slick-slider {max-height: 600px;}

.neibour_estates > h4 {font-size: 22px; padding: 10px; margin-bottom: 5px;}
.neibour_estates > h4 span {font-size: 14px; margin-left: 20px;}
.neibour_estates > .searchbar {
    padding: 10px;

}
.neibour_estates .property_block {
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
}
.neibour_estates .property_block .inner {
    margin: 5px;
    /*border: solid 1px #ccc;*/
    position: relative;
    overflow: hidden;
}
.neibour_estates .property_block .infoback {
    position: absolute;
    width: 100%;
    bottom: -0px;
    top: 0;

    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(246,246,246,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 50%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 50%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(246,246,246,0) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

    opacity: 0.5;
    filter: alpha(opacity=50); // IE 5-7
}

.neibour_estates .property_block .info {
    position: absolute;
    width: 100%;
    bottom: -0px;
    top: 0;
    padding: 10px;
    color: #fff;

    -webkit-transition: bottom 0.4s; /* Safari */
    transition: bottom 0.4s;
}

.neibour_estates .property_block {
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
}
.neibour_estates .property_block a.btn-see-details, .neibour_estates .property_block .info a.btn-see-details:hover, .neibour_estates .property_block .info a.btn-see-details:active {text-decoration: none;}

.neibour_estates .property_block .info .more-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
}
.neibour_estates .property_block .info .more-details > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}
.neibour_estates .property_block .button_set {}
.neibour_estates .property_block .button_set .btn {
    position: absolute;
    text-shadow: none;
    color: #333;
    z-index: 10;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0;

    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    opacity: 0;
}
.neibour_estates .property_block:hover .button_set .btn { opacity: 1; }

.neibour_estates .property_block .button_set .btn.btn-see-details {
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -30px;
}
.neibour_estates .property_block:hover .button_set .btn.btn-see-details {margin-left: -45px;}
.neibour_estates .property_block .button_set .btn.btn-goto {
    top: 50%;
    left: 50%;
    margin-left: 30px;
    margin-top: -30px;
}
.neibour_estates .property_block:hover .button_set .btn.btn-goto {margin-left: 15px;}

.neibour_estates .property_block .button_set .btn.btn-favorite {
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #78ff00;
    text-align: left;
    text-shadow: 1px 1px 2px black;
}
.neibour_estates .property_block .button_set .btn.btn-favorite:hover {opacity: 1;}
.neibour_estates .property_block .button_set .btn-favorite .fa {position: absolute; -webkit-transition: all 0.4s; /* Safari */transition: all 0.4s;}
.neibour_estates .property_block .button_set .btn-favorite .fa-heart {opacity: 0;}
.neibour_estates .property_block .button_set .btn-favorite .fa-heart-o {opacity: 1;}
.neibour_estates .property_block .button_set .btn-favorite.active .fa-heart {opacity: 1;}
.neibour_estates .property_block .button_set .btn-favorite.active .fa-heart-o {opacity: 0;}

.neibour_estates .property_block .info .price-details {font-size: 28px; font-weight: bold;}
.neibour_estates .property_block .info .short-details,
.neibour_estates .property_block .info .addr-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.neibour_estates .property_block .info .time-details {color: #fffaae;}

.neibour_estates .property_block .photo {
    height: 200px;
    width: 100%;
}
.neibour_estates .property_block .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.property_block.no-photo .photo img {}


#mnj-map-static-page  {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #fff;
    padding: 10px;
    margin: 0;
    width: auto;
}

#mnj-map-static-page .mnj_map_wrapper {
    position: fixed;
    left: 10px;
    right: 615px;
    top: 60px;
    bottom: 10px;
}

#mnj-map-static-page .neibour_estates {
    position: fixed;
    right: 10px;
    top: 60px;
    bottom: 10px;
    width: 600px;
    background: #fff;
    overflow: auto;
    top: 60px;
    /*border-left: solid 1px #aaa;*/
}

#mnj-map-static-page #neibour_estates_wrapper {
    position: absolute;
    border: 0px;
    top: 100px; /* 150px; */
    overflow: auto;
    bottom: 0;
    width: 100%;
}

#neibour_estates_nav {}
#neibour_estates_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
#neibour_estates_nav ul .nav-item {
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
}
#neibour_estates_nav ul .nav-item a {
    display: block;
    position: relative;
    padding: 6px 12px;
    line-height: 1.5em;
    text-decoration: none;
    color: #22c722;
    background-color: #fff;
    border: 1px solid #ddd;
}
#neibour_estates_nav ul .nav-item a.disabled {
    background: #eee;
    color: #ccc;
}
#neibour_estates_nav ul .nav-item.active a {
    background: #38ec38;
    color: #fff;
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
    #mnj-map-static-page .neibour_estates .property_block {
        width: 100%;
    }
    #mnj-map-static-page .neibour_estates {
        width: 300px;
    }
    #mnj-map-static-page .mnj_map_wrapper {right: 315px;}
    #neibour_estates_nav ul .nav-item {margin: 1px;}
    #neibour_estates_nav ul .nav-item a {
        padding: 6px 0px;
        width: 26px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 949px) {
    #mnj-map-static-page .mnj_detail_view, 
    #mnj-map-static-page .mnj_detail_header {
        position: fixed;
        width: 100%;
        left: 0;
        margin-left: 0;
        top: 0;
    }
}

@media screen and (max-width: 699px) {
    #mnj-map-static-page .neibour_estates {
        display: none;
    }
    #mnj-map-static-page .mnj_map_wrapper {right: 10px;}

    .mnj-search-panel .panel-heading .btn-modify-criteria {
        width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mnj-search-panel .panel-heading h3 { left: 100px; }
    .mnj_search_rule_list li .input-group .input-group-addon:first-child {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mnj_search_rule_list li .input-group-sm>.form-control {font-size: 11px;}
}

.input-group .msg.error {
    background: #e23b3b;
    color: #fff;
    font-size: 10px;
    line-height: 1.5em;
    padding: 2px 5px;
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0.8;
}

.input-group .msg.right {
    right: 0;
    /*border-radius: 0px 0 0px 10px;
    padding-left: 10px;*/
}
.alert {font-size: 14px;}
.alert .glyphicon {margin-right: 20px;}

.middle-dot:before {
    content: "\b7";
    display: inline-block;
    margin: 0 0 0 5px;
}

.neibour_estates_loadmore_state {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imgs/ajax_loader-1.gif) center no-repeat #000;
    z-index: 10;
    width: 50px;
    height: 50px;
    border: solid 1px #000;
    border-radius: 5px;
    opacity: 0.9;
    background-size: 80%;
}

.neibour_estates_loadmore_state.loading {
    display: block;
}